[submodule "kafka-streams"]
	path = kafka-streams
	url = git@github.com:titaniper/kafka-streams.git
[submodule "kafka-connect"]
	path = kafka-connect
	url = git@github.com:titaniper/kafka-connect.git
[submodule "kafkajs"]
	path = kafkajs
	url = git@github.com:tulios/kafkajs.git
[submodule "kafka-rest"]
	path = kafka-rest
	url = git@github.com:titaniper/kafka-rest.git
[submodule "kafka-playground"]
	path = kafka-playground
	url = git@github.com:titaniper/kafka-playground.git
[submodule "study/카프카, 데이터 플랫폼의 최강자/kafka"]
	path = study/카프카, 데이터 플랫폼의 최강자/kafka
	url = git@github.com:onlybooks/kafka.git
[submodule "kafka-admin"]
	path = kafka-admin
	url = git@github.com:titaniper/kafka-admin.git
[submodule "kafka-ksql"]
	path = kafka-ksql
	url = git@github.com:titaniper/kafka-ksql.git
